/* Estilos básicos del juego */

body {
  font-family: Arial, sans-serif;
  background-image: url("../assets/img/background.webp");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  text-align: center;
  color: white;
  font-family: "Creepster", system-ui;
  font-weight: 500;
  font-style: normal;
}

#mesa {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
  perspective: 1000px;
  width: 90%;
  max-width: 600px;
}

.tarjeta {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border-radius: 12px;
}

.tarjeta.descubierta {
  transform: rotateY(180deg);
}

.tarjeta_reverso,
.tarjeta_contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 2rem);
  box-shadow: 0 4px 8px black;
}
.tarjeta_reverso {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  background: #8b0000b7;
  border: 2px solid #333333;
}

.tarjeta_contenido img {
  max-width: 85%;
  max-height: 85%;
  border-radius: 5px;
}

/* la imagen está oculto al principio */
.tarjeta_contenido {
  visibility: hidden;
  background-color: #f9f9f9;
  transform: rotateY(180deg);
}

/* Al hacer click, se muestra la imagen */
.tarjeta.descubierta .tarjeta_contenido {
  visibility: visible;
}

/* Boton de Reinicio */
.controles {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#btn-reinicio,
.restart-btn {
  padding: 1rem 1.4rem;
  font-size: 1.1rem;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #1e3f20;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

#intentos {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5f5f5;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* pantalla cuando el jugador pierde */
#game-over {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#game-over.visible {
  opacity: 1;
}

.game-over-image {
  width: 400px;
  max-width: 80%;
  border-radius: 40%;
  background-size: contain;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.game-over-texto {
  font-size: 2.2rem;
  margin-top: 20px;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Responsive */
@media (max-width: 768px) {
  #mesa {
    grid-template-columns: repeat(4, minmax(70px, 1fr));
    gap: 0.8rem;
  }
  .controles {
    flex-direction: column;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  #btn-reinicio,
  .restart-btn {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    margin-right: 0;
  }

  #intentos {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  #mesa {
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    gap: 0.5rem;
  }

  .game-over-image {
    width: 100%;
  }

  .game-over-texto {
    font-size: 1.8rem;
  }
}
